[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
pandas = "*"
category-encoders = "*"
flask-restful = "*"
marshmallow = "*"
flask-cors = "*"
gunicorn = "*"
python-dotenv = "*"
xgboost = "~=0.9"

[requires]
python_version = "3.7"
